    @keyframes slideInLeft {
  from {
    transform: rotateX('angle');
    opacity: 0;
  }
  to {
    transform: rotateX('angle');
    opacity: 1;
  }
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideInLeft 0.8s ease-in-out;
    transform: scale(var(--escala, 1));
  transition: transform 0.85s;
}
.h1 {
  color: #000000;
  text-decoration: underline;
  font-stretch: expanded;
  margin-top: -0.3em;
  margin-bottom: 0.2em;
  margin-right: 70%;
  margin-left: 5em;
  width: 30em;
  font-size: 3em;
   -webkit-text-stroke: 0.007em #c0c0c088;
}

.label {
  width: 100%;
  margin-right: 80%;
  margin-left: 7em;
  text-decoration: overline;
  font-size: large;
}

.input {
  width: 15em;
  padding: 5px;
  margin-bottom: 0.5em;
  margin-right: 70%;
  margin-left: 10em;
  color: white;
  background-color: rgba(0, 0, 0, 0.829);
  border-radius: 0.5em;
  transform: scale(var(--escala, 1));
}

.selected {
  font-size: large;
  width: 1.5em;
}
.labelSelect {
  background-color: rgb(0, 0, 0);
  color: #c0c0c088;
  border-radius: 0.2em;
  margin: 0.15em;
  transform: scale(var(--escala, 1));
}

.labelSelect:hover {
  cursor: pointer;
  --escala: 1.3;
}
.input:hover {
  cursor: pointer;
  --escala: 1.1;
}

.containerTipo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; /* Alinea los elementos a la derecha */
  float: right;
  margin-top: -31em;
  margin-left: -30em;
  margin-right: 20em;
  
}

.labelTipo {
  text-decoration: overline;
  font-size: large;
  font-size: 1.5em;
}


.divP{
    margin-top: -30em;
}

.p{
  margin-left: -5em;
  margin-bottom: -0.1em;
    color: rgb(255, 4, 4);
  font-size: 1.03em;
  -webkit-text-stroke: 0.025em black
}

.btn {
  margin-top: -2em;
  color: rgb(0, 0, 0);
  background-color: #c0c0c0be;
  border-radius: 1em;
  height: 2em;
  width: 10em;
  transform: scale(var(--escala, 1));
  font-size: 1.2em;
}

.btn:hover {
  cursor: pointer;
  --escala: 1.1;
  color: white;
  background-color: #000000;
}




